<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='foodstyle.css')}}">
</head>

<body>

    <div class="grid">
        <div class="banner">
        </div>
        <div class="logo">
        </div>
        <div class="govt-logo">
        </div>


        <div class="navigation">
            <div><b>_</b></div>
            <div><b>_</b></div>
            <div><b></b></div>
            <div><b>_</b></div>
            <div><b>_</b></div>
            <div><b>_</b></div>
            <div><b>_</b></div>
            <div><b>_</b></div>
            <div><b>_</b></div>
            <div><b>_</b></div>
            <div><b>_</b></div>
            <div><b>_</b></div>
            <div><b>_</b></div>
            <div><b>_</b></div>
        </div>
        <div class="background">
        </div>
        <div class="login">
            <button class="dropbtn"><a href="/login"><b>Login</b></a></button>
        </div>

        <div class="login-background">
            <img src="https://free4kwallpapers.com/uploads/originals/2015/10/22/sunset-in-brisbane-australia.jpg">

        </div>
        <div class="login-box">
            <h1>Enter details</h1>
            <form action="/register-verify" method="post">
                <input type="text" placeholder="username" name="username"><br>
                <input type="text" placeholder="password" name="password"><br>
                <input type="text" placeholder="enter valid email" name="email"><br>


                <input type="submit"><br>
        </div>
    </div>
</body>



</html>